html,
body {
    margin: 0;
    padding: 0;
}

body {
    padding: 15px;
}

.layui-card-header {
    display: flex;
    justify-content: space-between;
}

.layui-form-item {
    width: 400px;
}

#form-add,
#form-edit {
    padding-top: 20px;
    padding-left: 30px;
}